:root {
  --black: black;
  --red: red;
  --white: white;
  --lightgrey: rgb(187, 184, 184);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif, Verdana, Tahoma;
  text-decoration: none;
  /* outline: red 1px solid; */
}
.flex {
  display: flex;
  flex-wrap: wrap;
}

.flexColumn {
  flex-direction: column;
}
.borderAndBack {
  border: 1.5px solid var(--black);
  background-color: var(--lightgrey);
}

/* header */

.logo {
  width: 15%;
}
.header {
  width: 100%;
  min-height: 12vh;
  justify-content: space-around;
  text-align: center;
}
.topHeader {
  width: 100%;
  padding: 7px;
  margin-top: 10px;
  align-items: center;
  justify-content: space-around;
}
.headerTitle {
  padding: 0px 5px;
  font-size: 2.5rem;
}
.headerTitle,
.headerNav > a {
  text-shadow: 1.5px 2px 2px rgba(255, 0, 0, 0.678);
}
.headerNav {
  flex-direction: column;
  background-color: var(--black);
  border-top: 1.5px solid var(--red);
  border-bottom: 1.5px solid var(--red);
  align-items: center;
}
.headerNav > a {
  color: var(--white);
  width: fit-content;
  padding: 5px 7px;
  border: 0.5px solid var(--white);
  box-shadow: 1px 1px 2px var(--white);
  border-radius: 40px;
  font-size: 0.7rem;
  margin: 10px 0;
}

/* main */
.main {
  width: 100%;
  gap: 0.5rem;
  background-image: url(../img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom 0px right 0px;
}
.sectionTitle {
  font-size: 1.5rem;
  margin-top: 10px;
  width: 100%;
}
.cardsContainer {
  text-align: center;
  width: 100%;
  align-items: center;
  gap: 0.5rem;
}
.card {
  width: 250px;
  height: 270px;
}

.cardImg {
  width: 100%;
  height: 85%;
  object-fit: fill;
}
.cardTitle {
  padding: 5px 0px;
}
.plataformSection {
  gap: 0.5rem;
  width: 100%;
  text-align: center;
  align-items: center;
}
.plataformArticleTitle {
  display: none;
}
.listContainer,
.tableContainer {
  width: 220px;
  height: 180px;
  padding: 1rem;
}
.list {
  text-align: start;
  list-style-position: inside;
}
table {
  margin: auto;
}
table,
th,
td {
  border-collapse: collapse;
  border: 1px solid var(--black);
}
th,
td {
  padding: 5px;
  background-color: var(--white);
}
/* footer */
.footer {
  margin-top: 1rem;
  padding-top: 0.5rem;
  background-color: var(--black);
  color: var(--white);
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}
.footerForm {
  padding: 7px;
}
.footerForm > button {
  padding: 3px;
}
@media screen and (min-width: 768px) {
  /* header */
  .headerNav {
    flex-direction: row;
    justify-content: space-around;
  }
  .headerNav a {
    font-size: 1.1rem;
  }
  /* main */
  .cardsContainer {
    padding: 0 1rem;
    flex-direction: row;
    justify-content: space-around;
  }
  .plataformSection {
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1rem;
  }
  /* footer */
  .footer {
    margin-top: 0;
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .logo {
    max-width: 90px;
  }
  /* header */
  .header {
    min-height: 20vh;
  }
  .headerTitle {
    font-size: 5rem;
  }
  .topHeader {
    margin-top: 0;
  }
  .headerNav {
    height: 4rem;
  }
  .headerNav a {
    transition: all 0.5s;
  }
  /* main */

  .main {
    background-size: 80%;
    min-height: 70vh;
    justify-content: center;
    align-items: flex-start;
  }
  .sectionTitle {
    height: 3rem;
    vertical-align: center;
    margin-top: 0;
  }
  .cardsContainer {
    justify-content: space-around;
    width: 75%;
  }
  .card {
    width: 230px;
    height: 300px;
  }
  .plataformSection {
    justify-content: space-around;
    width: 75%;
  }
  /* footer */
  .footer {
    flex-direction: row;
    justify-content: space-around;
    min-height: 10vh;
  }
  /* hover */
  .headerNav a:hover {
    background-color: lightblue;
    color: var(--black);
  }
}

@media screen and (min-width: 1456px) {
  .logo {
    max-width: 300px;
  }
  /* header */

  .headerTitle {
    text-shadow: 0.5rem 0.3rem 0.4rem rgba(255, 0, 0, 0.678);
  }

  .headerTitle {
    font-size: 11rem;
  }
  .topHeader {
    margin-top: 0;
  }
  .headerNav {
    height: 7rem;
  }
  .headerNav a {
    box-shadow: 0.2rem 0.2rem 0.4rem 0.1rem var(--white);
    font-size: 2.3rem;
    padding: 1rem;
    transition: all 0.5s;
  }
  /* main */
  .main {
    justify-content: space-around;
    background-size: 120%;
    background-position: bottom 0% left 50%;
  }
  .sectionTitle {
    font-size: 3rem;
  }
  .card {
    width: 330px;
    height: 400px;
  }
  .cardTitle {
    font-size: 2.5rem;
  }
  .cardsContainer,
  .plataformSection {
    width: 55%;
  }

  .listContainer,
  .tableContainer {
    padding: 1rem;
    width: 400px;
    height: 350px;
    font-size: 1.9rem;
  }
  .tableContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* footer */
  .footer {
    font-size: 2rem;
  }
  input {
    font-size: 1.7rem;
  }
  button {
    font-size: 1.5rem;
  }
}
